
.sideNav{
	max-width: 15%;
	min-width: 10%;
	top: 0;
	left: 0;
	margin-right:  0;
	font-family: Montserrat, sans-serif;
	float: left;
	background: white;\
	opacity: 0;
}

.sideNav a {
    margin: 20px;
    text-decoration: none;
    height: 2em;
    min-width: 4%;
    font-size: 1em;
    display: block;
    color: black;
}

#contentHolder{
	height: 1080px;
	margin-left: 10%;
	align-content: middle;
}

.contentBlock{
	height: 100%;
	width: 100%;
	background: white;
	position: absolute;	
	display: none;
}

#about{

}

#title{
	font-size: 5em;
	font-weight: 600;
	margin-left: 13%;
	float: left;
	letter-spacing: 5px;
	margin-top: 30%;
	position: absolute;
}

#subTitle{
	font-size: 0.5em;
	font-weight: 400;
	letter-spacing: normal;
}

#sideHolder{
	position: fixed;
}
#menuToggle{
	float: left;
	width: 100%;
}

#effectCanvas{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
}

#threeCanvas{
	position: absolute;
	top: 0;
	z-index: 1;
}

#background{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: -100;
}

#interactionArea{
	position: absolute;
	margin-left: 5%;
	height: 100%;
	width: 100%;
}

canvas{
	display: block;
}

body{
	margin: 0;
	min-width: 100%;
	min-height: 100%;
}

html{
	/*background-image: linear-gradient(0deg, #303030 0%, black 100%);*/
	background-color: white;
	height: 100%;
	width: 100%;
	font-family: Cormorant;
	color: black;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

*{
	
}



