.sideNav{
	top: 0;
	left: 0;
	margin-right:  0;
	font-family: Montserrat, sans-serif;
	float: left;
	opacity: 0;
}


#sideHolder{
	position: fixed;
	z-index: 1;
}
.sideNav a {
    margin: 20px;
    text-decoration: none;
    height: 2em;
    font-size: 2.5vh;
    display: block;
    color: black;
}

#contentHolder{
	height: 100%;
	align-content: middle;
}

.contentBlock{
	float: left;
	min-height: 100%;
	width: 100%;
	background: white;
	position: absolute;	
	display: none;
	text-align: left;
}



#about_splash{
	margin-top: 10%;
}

.contentDiv{
	white-space: normal;
	margin-left: 25%;
	margin-right: 15%;
	margin-top: 0.2em;
}

.contentTitle{
	font-family: Montserrat;
	padding-top: 3%;
	white-space: normal;
	margin-left: 25%;
	margin-right: 15%;
	margin-bottom: 0;
	font-size: 1em;
}

.miniContentHolder{
	float: left;
}

#hamburger-container{
	height: 5%;
	width: 5%;
}

#title{
	font-size: 10vh;
	font-weight: 600;
	margin-bottom: 30%;
	margin-left: auto;
	margin-right: auto;
	left: 50%;
	transform: translate(-50%, 0);
	float: left;
	letter-spacing: 5px;

	position: fixed;
	z-index: 0;
	text-align: center;
}

#subTitle{
	font-size: 5vh;
	font-weight: 400;
	letter-spacing: normal;
}


#menuToggle{
	float: left;
	width: 100%;
}

#effectCanvas{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
}

#threeCanvas{
	position: absolute;
	top: 0;
	z-index: 1;
}

#background{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: -100;
}

#interactionArea{
	position: absolute;
	margin-left: 5%;
	height: 100%;
	width: 100%;
}

canvas{
	display: block;
}

body{
	margin: 0;
	min-width: 100%;
	min-height: 100%;
	height: 100%;
}

html{
	/*background-image: linear-gradient(0deg, #303030 0%, black 100%);*/
	background-color: white;
	height: 100%;
	width: 100%;
	font-family: Cormorant;
	color: black;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

*{
	
}



